<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Quiz</title>
    <script src="vue.global.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <audio id="correct">
        <source src="ting.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="incorrect">
        <source src="error.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div id="app" class="container">
        <div v-if="screenMode==0">
            <h2 class="mb-3">Thiết lập</h2>
            <div>
                <div class="row">
                    <div class="col">
                        <label>Số câu:</label>
                    </div>
                    <div class="col">
                        <label class="form-label">Thời gian mỗi câu:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="number" v-model.number="totalQuestions" class="form-control" step="1" min="1">
                    </div>
                    <div class="col">
                        <input type="number" v-model.number="timeLimit" class="form-control" step="1">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label">Số hạng nhỏ nhất:</label>
                    </div>
                    <div class="col">
                        <label class="form-label">Số hạng lớn nhất:</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <input type="number" v-model.number="minLimit" class="form-control" step="1">
                    </div>
                    <div class="col">
                        <input type="number" v-model.number="maxLimit" class="form-control" step="1">
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <label class="form-label">Có kết quả âm:</label>
                    </div>
                    <div class="col">
                        <label class="form-label">Phép tính:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input class="form-check-input" type="checkbox" v-model="allowNegativeResults">
                    </div>

                    <div class="col">
                        <div class="operator-container mb-3">
                            <label v-for="operation in operations" :key="operation" class="form-check">
                                <input type="checkbox" :value="operation" v-model="selectedOperations"
                                    class="form-check-input">
                                {{
                                operation }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary big-button" @click="startGame">Bắt đầu</button>
        </div>

        <div v-if="screenMode==1">
            <div v-if="!showResult">
                <div class="row">
                    <div class="col text-start">
                        Trả lời đúng: {{ correctCount }} ({{ accuracyPercentage }}%)
                    </div>
                    <div class="col">
                        <b>Câu số: {{ currentQuestion }}/{{ totalQuestions }}.</b>

                    </div>
                    <div class="col text-end">
                        <span class="badge bg-primary">⏰: {{ remainingTime }} giây</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto p-3">
                        <div class="question d-flex">{{ question }}</div>
                    </div>
                    <div class="col p-3">
                        <input class="input-answer-box form-control text-center input-result" placeholder="? ? ?"
                            :value="userAnswer" readonly>
                    </div>
                </div>

                <div class="digit-container">
                    <button class="btn btn-warning big-text-button " v-for="digit in digits" :key="digit"
                        @click="appendDigit(digit)">
                        {{ digit }}
                    </button>
                    <button @click="appendDigit('.')">.</button>
                    <button class="big-text-button" @click="appendDigit('-')">-</button>
                    <button class="btn btn-danger" @click="deleteLastDigit">Xóa</button>
                    <button class="btn btn-success double-collumn" @click="checkAnswer(false)">Kiểm tra</button>
                </div>
            </div>

            <div v-if="showResult" class="result">
                <h2>{{ resultMessage }}</h2>
                <p style="font-size: 100px;">{{ resultEmoji }}</p>
                <button class="btn btn-secondary big-button" @click="resetGame">Tiếp tục</button>
            </div>
        </div>

        <div v-if="screenMode==2" class="statistics">
            <h2>Thống kê</h2>
            <p>Câu hỏi: {{ correctCount }} / {{ totalQuestions }} ({{ finalAccuracyPercentage }}%)</p>
            <p>Tổng thời gian: {{ totalTime }} giây</p>
            <p>Nhanh nhất: {{ fastestTime }} / Chậm nhất: {{ slowestTime }}</p>
            <p>Đúng liên tiếp: {{ maxCorrectStreak }} / Sai liên tiếp: {{ maxIncorrectStreak }}</p>
            <p><span style="font-size: 48px;">{{ getSuccessEmoji(false) }}</span></p>
            <button @click="resetAll" class="btn btn-primary  big-button">Chơi lại</button>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>